/*
Site: Apex for Youth Final Project
URI: http://jennyfan.com/apex
Author: Jenny Fan & Celine Yan
Author URI: http://jennyfan.com 
Version: 2.0
*/

html, body {
	background-color: #f3f3f3;
	margin: 0;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}

/* Links */
a:link {
	color: #5e6575;
}
a:visited {
	color: #5e6575;
}
a:hover, a:active {
	color: #8c9ca8;
}
#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
	color: #fff;
}

p, li {
	font-size: 1em;
	line-height: 1.5em;
  	font-family: 'Muli', sans-serif;
}
blockquote {
    font-size: 3em;
    line-height: 1.2em;
    color: #72a3cc;
    margin: 1em auto 0em;
    font-family: 'Muli', sans-serif;
    font-style: italic;
}
div,h1,h2,h3,h4,h5,h6 {
  	font-family: 'Muli', sans-serif;
}
.title {
	font-size: 3em;
	font-weight: 600;
	color: #105b99;
	margin: 0 auto 1em;
    background-position: center;
    background-size: center;
}
h1 {
	font-size: 2.5em;
	font-weight: 600;
	color: #105b99;
}
h2 {
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	color: #72a3cc;
}
.menu-title {
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	color: #72a3cc;
	padding: 0 0.75em;
}


/*
The content `<div>` is where all your content goes.
*/
.intro {
	padding: 1em;
    width: 100vh;
	text-align: center;
    align-self: center;
}
.content {
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.6em;
    align-self: center;
}
.header {
    color: #333;
    align-self: center;
 }
 .bgimg {
 	width: 100%;
 }

/* Layout */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 250px;
        width: 250px;
    }

    #layout.active .menu-link {
        left: 250px;
    }

.slide {
	min-height: 100vh;
	padding: 2em;
	overflow: auto;
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide:nth-child(2n) {
	background-color: #e8f3fc;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -250px; /* "#menu" width */
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    /* background: #191818; */
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3494E6, #EC6EAD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3494E6, #EC6EAD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #e8f3fc;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }
    #menu h2 {
    	padding-left: 0.6em;
        color: #bbdbf7;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: rgba(0,0,0, 0.4);
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: rgb(52, 148, 230);
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
    .title {
        font-size: 4em;
    }
    .intro {
        padding: 1em 4em;
    }
    #layout {
        padding-left: 250px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 250px;
    }

    .menu-link {
        position: fixed;
        left: 250px;
        display: none;
    }

    #layout.active .menu-link {
        left: 250px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 250px;
    }
}